# Ignore configuration files that may contain sensitive information.
/messagebroker-config
/environment.php

# Ignore composer working files
composer.phar
composer.lock
/vendor/

# Ignore testing working files
tests/phpunit.xml

# Ignore config settings with sensative account creds
config.inc

# Ignore OSX system files
.DS_Store

# Ignore PHP Storm config
.idea

# Ignore NPM files
npm-debug.log
node_modules
